<% provide(:title, 'Disclaim') %>
<h1>Disclaimer</h1>
<h2>Terms of Use </h2>
<p>
Please read these terms and conditions carefully. By accessing this web site and any pages hereof, you are indicating that you have read, acknowledge and agree to be bound by these Terms of Use. If you do not agree to these Terms of Use, do not access this web site. Morgan Stanley reserves the right to change these Terms of Use which you are responsible for regularly reviewing and your continued use of this web site constitutes agreement to all such changes. As used herein, Morgan Stanley means Morgan Stanley and its affiliates. To obtain contact information for Morgan Stanley affiliates, please click 
<a href="http://www.morganstanley.com/contact_us.html">here</a>.
</p>
<p>
<h3>General Information</h3>
This web site is comprised of various web sites operated by Morgan Stanley (collectively, the "web site"). Certain sections of or pages on this web site may contain separate terms and conditions, which are in addition to these Terms of Use. You should read those additional terms and conditions carefully. By accessing such sections or pages, you agree to be bound by those additional terms and conditions. In the event of a conflict, those additional terms and conditions will govern your use of those sections or pages. 
</p>
<p>
Unauthorized use of Morgan Stanley's web site and systems, including, but not limited to, unauthorized entry into Morgan Stanley's systems, misuse of passwords or misuse of any other information, is strictly prohibited. You may not use this web site in any manner that could damage, disable, overburden, or impair any Morgan Stanley site or service or interfere with any other party's use and enjoyment of any Morgan Stanley site or service. You may not attempt to gain unauthorized access to any Morgan Stanley site or service, computer systems or networks connected to any Morgan Stanley site or service, through hacking, password mining or any other means. You agree that you will not engage in any activities related to this web site that are contrary to applicable laws or regulations. 
</p>
<p>
Morgan Stanley reserves the right, in its sole discretion, without any obligation and without any notice requirement, to change, improve or correct the information, materials and descriptions on this web site and to suspend and/or deny access to this web site for scheduled or unscheduled maintenance, upgrades, improvements or corrections. The information and materials on this web site may contain typographical errors or inaccuracies. Any dated information is published as of its date only, and Morgan Stanley does not undertake any obligation or responsibility to update or amend any such information. Morgan Stanley may discontinue or change any product or service described in or offered on this web site at any time. 
</p>
<p>
<h3>Disclaimer of Warranty and Limitation of Liability</h3>
The information, products and services on this web site are provided on an "AS IS," "WHERE IS" and "WHERE AVAILABLE" basis. Morgan Stanley does not warrant the information or services provided herein or your use of this web site generally, either expressly or impliedly, for any particular purpose and expressly disclaims any implied warranties, including but not limited to, warranties of title, non-infringement, merchantability or fitness for a particular purpose. Morgan Stanley will not be responsible for any loss or damage that could result from interception by third parties of any information or services made available to you via this web site. Although the information provided to you on this web site is obtained or compiled from sources we believe to be reliable, Morgan Stanley cannot and does not guarantee the accuracy, validity, timeliness or completeness of any information or data made available to you for any particular purpose. Neither Morgan Stanley, nor any of its affiliates, directors, officers or employees, nor any third party vendor, will be liable or have any responsibility of any kind for any loss or damage that you incur in the event of any failure or interruption of this web site, or resulting from the act or omission of any other party involved in making this web site, the data contained herein or the products or services offered on this web site available to you, or from any other cause relating to your access to, inability to access, or use of the web site or these materials, whether or not the circumstances giving rise to such cause may have been within the control of Morgan Stanley or of any vendor providing software or services. In no event will Morgan Stanley or any such parties be liable to you, whether in contract or tort, for any direct, special, indirect, consequential or incidental damages or any other damages of any kind even if Morgan Stanley or any other such party has been advised of the possibility thereof. This limitation on liability includes, but is not limited to, the transmission of any viruses which may infect a user's equipment, failure of mechanical or electronic equipment or communication lines, telephone or other interconnect problems (e.g., you cannot access your internet service provider), unauthorized access, theft, operator errors, strikes or other labor problems or any force majeure. Morgan Stanley cannot and does not guarantee continuous, uninterrupted or secure access to the web site. 
</p>
<p>
<h3>Proprietary Rights</h3>
All right, title and interest in this web site and any content contained herein is the exclusive property of Morgan Stanley, except as otherwise stated. Unless otherwise specified, this web site is for your personal and non-commercial use only and you may print, copy and download any information or portion of this web site for your personal use only. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, frame, create derivative works from, transfer, or otherwise use in any other way for commercial or public purposes in whole or in part any information, software, products or services obtained from this web site, except for the purposes expressly provided herein, without Morgan Stanley's prior written approval. If you copy or download any information or software from this web site, you agree that you will not remove or obscure any copyright or other notices or legends contained in any such information. 
</p>
<p>
Morgan Stanley, the Morgan Stanley logo and other Morgan Stanley trademarks and service marks referenced herein are trademarks and service marks of Morgan Stanley. The names of other companies and third-party products or services mentioned herein may be the trademarks or service marks of their respective owners. You are prohibited from using any marks for any purpose including, but not limited to use as metatags on other pages or sites on the World Wide Web without the written permission of Morgan Stanley or such third party, which may own the marks. 
</p>
<p>
Pursuant to Section 512(c)(2) of the Copyright Act, Morgan Stanley designates the following agent to receive notifications of claimed infringement: Jeffrey Stern, Morgan Stanley, 1585 Broadway, New York, New York 10036; fax: (212) 762-8835; internetadmin@morganstanley.com. 
</p>
<p>
<h3>Use of Links</h3>
This web site contains links to third party web sites. These links are provided only as a convenience. The inclusion of any link is not and does not imply an affiliation, sponsorship, endorsement, approval, investigation, verification or monitoring by Morgan Stanley of any information contained in any third party web site. In no event shall Morgan Stanley be responsible for the information contained on that site or your use of or inability to use such site. You should also be aware that the terms and conditions of such site and the site's privacy policy may be different from those applicable to your use of this web site. 
</p>
<p>
<h3>Securities Products</h3>
None of the information contained in this web site constitutes a recommendation, solicitation or offer by Morgan Stanley or its affiliates to buy or sell any securities, futures, options or other financial instruments or provide any investment advice or service. The information contained in this web site has been prepared without reference to any particular user's investment requirements or financial situation. Certain transactions give rise to substantial risk and are not suitable for all investors. Prior to the execution of any transaction by you involving information you received from this web site, you should consult your business advisor, attorney and tax and accounting advisors with respect to the price, suitability, value, risk or other aspects of any stock, mutual fund, security or other investment. Pricing and other information generated through the use of data or services made available herein may not reflect actual prices or values that would be available in the market at the time provided or at the time that the user may want to purchase or sell a particular security or other instrument. The information and services provided on this web site are not provided to and may not be used by any person or entity in any jurisdiction where the provision or use thereof would be contrary to applicable laws, rules or regulations of any governmental authority or regulatory or self-regulatory organization or clearing organization or where Morgan Stanley is not authorized to provide such information or services. Some products and services described in this web site may not be available in all jurisdictions or to all clients. 
</p>
<p>
<h3>Use in the United Kingdom (UK)</h3>
This web site has been approved by Morgan Stanley & Co. International Limited solely for the purposes of Section 21 of the Financial Services and Markets Act 2000. 
</p>
<p>
<h3>Privacy & Cookies</h3>
Morgan Stanley may process personal data as part of and/or in connection with your access and/or use of this web site. This includes using cookies and similar technology to collect information about your use of our web site and your preferences. 
</p>
<p>
To find out more information about how Morgan Stanley processes personal data, how we use cookies and how to reject cookies, see Our Privacy & Cookies Policy.
</p>
<p>
By accessing or using this web site you consent to Morgan Stanley processing personal data and using cookies as further detailed in Our Privacy & Cookies Policy. You acknowledge and agree that if you choose to reject our cookies, some or all parts of the web site may not function properly or may not be accessible.
</p>
<p>
<h3>Choice of Law</h3>
These Terms of Use shall be governed by and construed in accordance with the laws of the state of New York, without regard to conflicts of laws provisions. Sole and exclusive jurisdiction for any action or proceeding arising out of or related to these Terms of Use shall be in an appropriate state or federal court located in the County of New York, State of New York and the parties unconditionally waive their respective rights to a jury trial. Any cause of action you may have with respect to your use of this web site must be commenced within one (1) year after the claim or cause of action arises. If for any reason a court of competent jurisdiction finds any provision of these Terms of Use, or a portion thereof, to be unenforceable, that provision shall be enforced to the maximum extent permissible so as to affect the intent of these Terms of Use, and the remainder of these Terms of Use shall continue in full force and effect. These Terms of Use constitutes the entire agreement between Morgan Stanley and you with respect to this site and it supersedes all prior or contemporaneous communications, agreements and understandings between Morgan Stanley and you with respect to the subject matter hereof. Morgan Stanley and you acknowledge and agree that unless expressly included in any other agreement between Morgan Stanley and you the requirements of the E-Commerce Directive (00/31/EC) as implemented are excluded to the fullest extent permissible by law. A printed version of these Terms of Use shall be admissible in judicial or administrative proceedings. 
</p>
<p>
<h3>SIPC Disclosure</h3> 
Securities and cash held by individuals in Morgan Stanley & Co. LLC accounts are protected up to their full net equity value by a combination of coverage provided by the Securities Investor Protection Corporation (SIPC), a non-profit organization created by an Act of Congress and additional protection purchased from a group captive insurance company by Morgan Stanley ("excess coverage"). SIPC protects up to $500,000 of your securities, of which up to $250,000 may be uninvested cash. Excess Coverage provides additional protection up to the full net equity value of each account including unlimited coverage for uninvested cash. SIPC and excess coverage apply only to securities and cash in the exclusive possession and control of Morgan Stanley and do not protect against losses due to fluctuations in the market. Additional information about SIPC and asset protection may also be found at 
<a href="http://sipc.org">www.spic.org</a>.
</p>
</p>
<p>
欢迎阅读服务条款协议，本协议阐述之条款和条件适用于您使用改图网的各种工具和服务。
本服务协议双方为改图网与改图网用户，本服务协议具有合同效力。
本服务协议内容包括协议正文及所有改图网已经发布的或将来可能发布的各类规则。所有规则为协议 不可分割的一部分，与协议正文具有同等法律效力。
在本服务协议中没有以"规则"字样表示的链接文字所指示的文件不属于本服务协议的组成部分，而 是其他内容的协议或有关参考资料，与本协议没有法律上的直接关系。
用户在使用改图网提供的各项服务的同时，承诺接受并遵守各项相关规则的规定。改图网有权根据需 要不时的制定、修改本协议或各类规则，如本协议有任何变更，改图网将网站上刊载公告，通知予用户。 如用户不同意相关变更，必须停止使用"服务"。经修订的协议一经在改图网公布后，立即自动生效。各 类规则会在发布后生效，亦成为本协议的一部分。登录或继续使用"服务"将表示用户接受经修订的协议。 除另行明确声明外，任何使"服务"范围扩大或功能增强的新内容均受本协议约束。
您确认本服务协议后，本服务协议即在您和改图网之间产生法律效力。请您务必在注册之前认真阅读 全部服务协议内容，如有任何疑问，可向改图网咨询。
(1). 无论您事实上是否在注册之前认真阅读了本服务协议，只要您点击协议正本上方的"确认"按钮并按 照改图网注册程序成功注册为用户，您的行为仍然表示您同意并签署了本服务协议。
(2). 本协议不涉及您与改图网其它用户之间因服务而产生的法律关系及法律纠纷。
</p>
<p>
定义及其一般定义
1.改图网有关改图网的术语或图标的含义，详见改图网帮助。
2.用户及用户注册
用户必须是具备完全民事行为能力的自然人，或者是具有合法经营资格的实体组织。
无民事行为能力人、限制民事行为能力人以及无经营或特定经营资格的组织不当注册为改图网用户或 　　超过其民事权利或行为能力范围从事交易的，其与改图网之间的服务协议自始无效，改图网一经发现， 　　有权立即注销该用户，并追究其使用改图网"服务"的一切法律责任。
用户注册是指用户登陆改图网，并按要求填写相关信息并确认同意履行相关用户协议的过程。
用户因获取服务或接触改图网服务器而发生的所有应纳税赋，以及一切硬件、软件、服务及其他方面 　　的费用均由用户负责支付。
3.用户权利和义务
用户有权利拥有自己在改图网的用户名及交易密码，并有权利使用自己的用户名及密码随时登陆改图 　　网。用户不得以任何形式擅自转让或授权他人使用自己的改图网用户名。
用户有权根据本服务协议的规定以及改图网上发布的相关规则利用改图网查询物品信息、发布交易信 　　息、登录物品、参加网上物品竞买、与其他用户订立物品买卖合同、评价其他用户的信用、参加改图 　　网的有关活动以及有权享受改图网提供的其他的有关信息服务。
用户有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编 　　码等内容的有效性及安全性，保证改图网及其他用户可以通过上述联系方式与自己进行联系。同时， 　　用户也有义务在相关资料实际变更时及时更新有关注册资料。用户保证不以他人资料在改图网进行注 　　册或认证。
用户在改图网网上不得发布各类违法或违规信息。
用户承诺自己在使用改图网时实施的所有行为遵守国家法律、法规和改图网的相关规定以及各种社会 　　公共利益或公共道德。对于任何法律后果的发生，用户将以自己的名义独立承担所有相应的法律责任。 　　不作商业性利用。 用户同意，不对任何资料作商业性利用，包括但不限于在未经改图网事先书面批准 　　的情况下，以复制、传播等方式使用在改图网站上展示的任何资料。
用户同意接收来自改图网的信息。
</p>
<p>
改图网的权利和义务
1.改图网有义务在现有技术上维护整个网的正常运行，并努力提升和改进技术，使用户网上交易活动的顺利。
2.对用户在注册使用改图网中所遇到的与服务或注册有关的问题及反映的情况，改图网应及时作出回复。
3.对于在改图网上的不当行为或其它任何改图网认为应当终止服务的情况，改图网有权随时作出删除相关信 息、终止服务提供等处理，而无须征得用户的同意。
4.因网的特殊性，改图网没有义务对所有用户的注册资料、所有的与服务有关的其他事项进行事先审查，但 如存在下列情况：
用户或其他第三方通知改图网，认为某个具体用户或具体事项可能存在重大问题；
用户或其他第三方向改图网告知网上有违法或不当行为的，改图网以普通非专业者的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为具有违法或不当性质的；
改图网有权根据不同情况选择保留或删除相关信息或继续、停止对该用户提供服务，并追究相关法律责任。
5.用户在改图网上如与其他用户产生纠纷，请求改图网从中予以调处，经改图网审核后，改图网有权通过电子邮件联系向纠纷双方了解情况，并将所了解的情况通过电子邮件互相通知对方。
6.用户因在改图网上与其他用户产生诉讼的，用户通过司法部门或行政部门依照法定程序要求改图网提供相关资料，改图网应积极配合并提供有关资料。
7.改图网有权对用户的注册资料及与服务有关的其他行为进行查阅，发现注册资料或与服务有关的其他行为中存在任何问题或怀疑，均有权向用户发出询问及要求改正的通知或者直接作出删除等处理。
8.经国家生效法律文书或行政处罚决定确认用户存在违法行为，或者改图网有足够事实依据可以认定用户存 在违法或违反服务协议行为的，改图网有权在改图网及所在网站上以网络发布形式公布用户的违法行为。
9.对于用户在改图网发布的下列各类信息，改图网有权在不通知用户的前提下进行删除或采取其他限制性措 施，包括但不限于以规避费用为目的；改图网有理由相信存在欺诈等恶意或虚假内容；改图网有理由相信与 网商服务无关；改图网有理由相信存在恶意攻击或其他试图扰乱网站正常秩序因素；改图网有理由相信该信 息违反公共利益或可能严重损害改图网和其他用户合法利益的。
10.许可使用权。 用户以此授予改图网独家的、全球通用的、永久的、免费的许可使用权利 (并有权对该权 利进行再授权)，使改图网有权(全部或部份地) 使用、复制、修订、改写、发布、翻译、分发、执行和展示 用户公示于网站的各类信息或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上 述信息纳入其他作品内。
11.关于Cookies的限制 改图网会在用户的电脑上设定或取用改图网cookies。 改图网允许那些在改图网页上 发布广告的公司到用户电脑上设定或取用 cookies 。 在用户登录时获取资料，改图网使用cookies可为您用 户提供个性化服务。 如果拒绝所有 cookies，用户将不能使用需要登录的改图网产品及服务内容。
</p>
<p>
服务的中断和终止
1.用户同意，在改图网未向您收取服务费的情况下，改图网可自行全权决定以任何理由 (包括但不限于改图网 认为您已违反本协议的字面意义和精神，或以不符合本协议的字面意义和精神的方式行事，或您在超过90天的 时间内未以您的帐号及密码登录网站等) 终止用户的"服务"密码、帐户 (或其任何部份) 或您对"服务"的 使用，并删除（不再保存）用户在使用"服务"中提交的的"用户资料"。同时改图网可自行全权决定，在发 出通知或不发出通知的情况下，随时停止提供"服务"或其任何部份。帐号终止后，改图网没有义务为您保留 原帐号中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给您或第三方。此外，您同意，改图网不 就终止您接入"服务"而对您或任何第三者承担任何责任。
2.如用户向改图网提出注销改图网注册用户身份时，经改图网审核同意，由改图网注销该注册用户，用户即解 除与改图网的服务协议关系。但注销该用户帐号后，改图网仍保留下列权利：
用户注销后，改图网有权保留该用户的注册资料及以前的服为行为记录。
用户注销后，如用户在注销前在改图网上存在违法行为或违反合同的行为，改图网仍可行使本服务协议所规定的权利。
3.在下列情况下，改图网可以通过注销用户的方式终止服务：
在用户违反本服务协议相关规定时，改图网有权终止向该用户提供服务。改图网将在中断服务时通知用户。但如该用户在被改图网终止提供服务后，再一次直接或间接或以他人名义注册为改图网用户的，改图网有权再次单方面终止向该用户提供服务；
如改图网通过用户提供的信息与用户联系时，发现用户在注册时填写的电子邮箱已不存在或无法接收电子邮件的，经改图网以其他联系方式通知用户更改，而用户在三个工作日内仍未能提供新的电子邮箱地址的，改图网有权终止向该用户提供服务；
一旦改图网发现用户注册资料中主要内容是虚假的，改图网有权随时终止向该用户提供服务；
本服务协议终止或更新时，用户未确认新的服务协议的。
其它改图网认为需终止服务的情况。
</p>
<p>
责任范围
用户明确理解和同意，改图网不对因下述任一情况而发生的任何损害赔偿承担责任，包括但不限於利润、声誉、使用、数据等方面的损失或其他无形损失的损害赔偿 (无论改图网是否已被告知该等损害赔偿的可能性)：
使用或未能使用"服务"；
用户因通过"服务"购买或获取任何货物、样品、数据、资料或服务，或通过或从"服务"接收任何信息或缔结任何交易所产生的获取替代货物和服务的费用；
第三方未经批准的接入或第三方更改您的传输资料或数据；
第三方对"服务"的声明或关于"服务"的行为；或因任何原因而引起的与"服务"有关的任何其他事宜，包括疏忽。
</p>
